/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/


.message-boder  {
    margin-top: 20px;
    height: auto;
    width: 100%;
    font-size: 14px;
    background-color: #bce8f1;
    padding: 8px;
    border-left: 4px solid #31708f;
    color: #31708f;
    min-height: 30px;
}

.viz-input {
    height: 150px !important;
}

.chart-upper-padding {
    padding-top: 50px;
}
